<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="css/style.css"/>
  <link href="css/vuetify.min.css" rel="stylesheet">
  <title>frkt sync</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-toolbar flat="flat" height="32px">

        <v-toolbar-title  class="display-5">
          Sync <span :style="{color:connected ? 'green' : 'red'}">● </span>
        </v-toolbar-title>

        <v-toolbar-items>
          <v-btn @click="tabs.qr=!tabs.qr" icon>QR</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-slide-y-transition>
        <svg @click="tabs.qr=false" v-show="tabs.qr" id="qrcode-svg" style="width:100%; max-width:500px; padding:0; background-color:#E8E8E8">
                    <rect fill="#FFFFFF" width="100%" height="100%" stroke-width="0"></rect>
                    <path d="" fill="#222" stroke-width="0"></path>
        </svg>
      </v-slide-y-transition>

      <v-tabs v-model="tabs.top">
        <v-tab>Me</v-tab>
        <v-tab>Name</v-tab>
        <v-tab>Note</v-tab>

        <v-tab-item>
          <v-card>
            <v-card-title>
              <v-flex>
                <img width=60 height=60 :src="'data:image/svg+xml;base64,' + me.avatar">
              </v-flex>
              <v-flex>  <v-btn class="note-btn" dark icon :color="noteColor(me.note)" @click="setNote(me.note)">
                  {{notes[me.note]}}
                </v-btn>
              </v-flex>
              <v-flex>
                {{me.name || 'anonym'}}

              </v-flex>

            </v-card-title>

          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-card>

            <v-card-text>
              <v-text-field @change="setName();tabs.top=0" label="Name" v-model="name">
                <div slot="append"><v-btn @click="setName();tabs.top=0">Hi!</v-btn></div>
              </v-text-field>

          </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-container align-center grid-list-md>
            <v-layout row wrap>
              <v-flex xs2 md1 v-for="(note,pitch) in notes" :key="pitch">
                <v-btn class="note-btn" :large="pitch==me.note" dark icon :color="noteColor(pitch)" @click="setNote(pitch)">
                  {{note}}
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-tab-item>
      </v-tabs>

        <v-content>




          <v-card :color="colorHash(me.address).hex">


            <v-card-title nowrap>
              <v-flex v-for="peer in peers" :key="peer.ID+fresh">
                <img  width=30 height=30 :src="'data:image/svg+xml;base64,' + peer.avatar">
              </v-flex>

           </v-card-title>
          </v-card>

          <v-tabs>
            <v-tab>Chat</v-tab>
            <v-tab>Notes</v-tab>
            <v-tab-item>
              <v-list three-line>
                <v-list-tile>
                  <v-list-tile-avatar tile>
                      <img width=60 height=60 :src="'data:image/svg+xml;base64,' + me.avatar">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-text-field  label="Message" v-model="messageText">
                      <div slot="append"><v-btn @click="say()" icon>send</v-btn></div>
                    </v-text-field>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-for="(message,i) in chat" :key="i">
                  <v-list-tile-avatar tile>
                    <img width=60 height=60 :src="'data:image/svg+xml;base64,' + peers[message.ID].avatar">
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-title>{{message.sender}}:</v-list-tile-title>
                     <v-list-tile-sub-title>
                       {{message.data}}
                     </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-tab-item>
            <v-tab-item>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs4  v-for="(note,pitch) in notes" :key="pitch">
                    <v-card ripple dark :color="noteColor(pitch)" @touchstart="playNote(pitch,true)" @mousedown="playNote(pitch,true)">
                      <v-card-title >
                        <h3>{{note}}</h3>
                        <v-flex :key="peer.ID+fresh" v-for="(peer,i) in getNotePeers(pitch)">
                          <img width=20 height=20 :src="'data:image/svg+xml;base64,' + peer.avatar">
                        </v-flex>
                      </v-card-title>


                    </v-card>

                  </v-flex>
                </v-layout>
              </v-container>
            </v-tab-item>
          </v-tabs>

        </v-content>


    </v-app>
  </div>
</body>

<script src="js/libs/bugout.min.js" type="application/javascript"></script>
<script src="js/libs/qrcodegen.js"></script>
<script src="js/libs/Tone.js"></script>
<script src="js/libs/identicon.js"></script> 
<script src="js/libs/vue.js"></script>
<script src="js/libs/vuetify.js"></script>
<script src="js/sync.js"></script>
<script src="js/app.js"></script>
<style>

</style>
</html>
